In [ ]:
# <-- Import libraries, custom functions, and load configuration & datasets <--

import yaml
import pandas as pd
import numpy as np
import datetime as dt
import re

# <-- Imports custom preprocessing functions from 'functions.py' <--

from functions import (drop_duplicates,
                       concat_dataframes,
                       remove_all_punctuation,
                       drop_irrelevant_columns,
                       standardize_column_names,
                       filter_by_regex_pattern,
                       standardize_dates
                       )

# <-- Loads YAML configuration to dynamically reference CSV output files. <--

config = None  # <-- Initialize config
try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("Yaml configuration file not found!")
config

job_nyc1 = pd.read_csv(config['input_data']['file1'])
job_nyc2 = pd.read_csv(config['input_data']['file2'])

In [2]:
job_nyc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5069 entries, 0 to 5068
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Job ID                         5069 non-null   int64
 1   Agency                         5069 non-null   object
 2   Posting Type                   5069 non-null   object
 3   # Of Positions                 5069 non-null   int64
 4   Business Title                 5069 non-null   object
 5   Civil Service Title            5069 non-null   object
 6   Title Classification           5069 non-null   object
 7   Title Code No                  5069 non-null   object
 8   Level                          5069 non-null   object
 9   Job Category                   5069 non-null   object
 10  Full-Time/Part-Time indicator  4990 non-null   object
 11  Career Level                   5069 non-null   object
 12  Salary Range From              5069 non-null   float64
 13  Salary Range To                5069 non-null   float64
 14  Salary Frequency               5069 non-null   object
 15  Work Location                  5069 non-null   object
 16  Division/Work Unit             5069 non-null   object
 17  Job Description                5067 non-null   object
 18  Minimum Qual Requirements      5020 non-null   object
 19  Preferred Skills               3694 non-null   object
 20  Additional Information         2667 non-null   object
 21  To Apply                       4173 non-null   object
 22  Hours/Shift                    1623 non-null   object
 23  Work Location 1                1858 non-null   object
 24  Recruitment Contact            0 non-null      float64
 25  Residency Requirement          5069 non-null   object
 26  Posting Date                   5069 non-null   object
 27  Post Until                     1771 non-null   object
 28  Posting Updated                5069 non-null   object
 29  Process Date                   5069 non-null   object
dtypes: float64(3), int64(2), object(25)
memory usage: 1.2+ MB

In [3]:
job_nyc1["Preferred Skills"].isnull().sum()

np.int64(1375)

In [4]:
job_nyc2["Preferred Skills"].isnull().sum()

np.int64(2699)

In [5]:
job_nyc1["Preferred Skills"].value_counts(dropna=False)

Preferred Skills
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1375
Candidate should possess excellent organizational, verbal, and written skills, with the ability to multi-task various projects. Proficiency in Microsoft Office is preferred.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                18
Candidates should have excellent verbal and written communication skills, proficiency in Microsoft Office and AutoCAD applications, and design experience related to infrastructure works (i.e. sewer, water mains, roadways). Candidates must also be familiar with NYCDOT, NYSDOT, and NYCDEP specifications and standards, MUTCD, AASHTO, and understand the NYC infrastructure system as well as current engineering methods and standards. Experience with Primavera P6 scheduling is a plus.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           14
â¢\tCandidates must be able to demonstrate critical thinking skills and effective independent data analysis  â¢\tExcellent oral and written communication skills, ability to meet deadlines, and an ability to be flexible in assignment of work responsibilities  â¢\tUnderstanding of water and heavy civil infrastructure design practices and standards  â¢\tUnderstanding of project management principals, specifically the procedures used by DEP  â¢\tThis position requires operation of a motor vehicle to perform site visits, equipment testing, inspections, and to attend meetings with project stakeholders  â¢\tKnowledge of Microsoft Office Suite products (Word, Excel, etc.)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       14
â¢\tProficient oral and written communication skills to effectively communicate with project staff, engineers/architects, inspectors, consultants, contractors, (foreign and domestic), vendors, City operations staff and external project stakeholders such as regulatory agencies and community representatives.  â¢\tPossession of a motor vehicle driver license valid in the State of New York with no restrictions, which preclude the performance of an Accountable Manager work. This license must be maintained for the duration of employment.  â¢\tHave a detailed understanding of permitting, equipment and materials, codes and standards, shop/field testing.  â¢\tAble to determine adequacy and completeness of field investigation plans and reports to support the development of more complex designs or scope change requests.  â¢\tAbility to assess applicability and appropriateness of field investigation protocols for stated objectives.  â¢\tPossess a working knowledge of current safety and design standards.  â¢\tAble to review, interpret and approve complex contract documents.   â¢\tAble to understand the necessary project resources to effectively identify upcoming needs or existing conflicts.  â¢\tAble to assess consultant/contractor performance based on contract requirements.   â¢\tAble to evaluate project progress regularly in terms of potential impacts to schedule compliance.  â¢\tUnderstand schedule implications of change orders and recovery plans.  â¢\tUnderstand the process to prepare the Communication Management Plan.  â¢\tEmploy effective time management practices.  â¢\tKnowledge of engineering design and construction industry standards and practices as well as environmental engineering operations and processes for water supply and wastewater resource recovery facilities.   â¢\tStrong technical skills, interpersonal, communication, and computer skills with a working knowledge of MS Office software, and Project Scheduling Software.  â¢\tKnowledge of operations and processes for wastewater resource recovery facilities.  â¢\tKnowledge of design and construction industry standards and practices as well as a strong ability to work on a broad multidisciplinary base with various fields and trades as well as the ability to concurrently handle multiple related and non-related tasks.  â¢\tExperience in writing and reviewing contract specifications for major public works projects.      14
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ...
â¢ A baccalaureate degree from an accredited college or university including or supplemented by 30 semester credits in one or a combination of the following fields: social work, psychology,    sociology, human services, criminal justice, education (including early childhood), nursing or cultural anthropology, at least 12 of which must have been in one of these disciplines, and    30 semester credits toward a Master of Social Work or a graduate degree in a related field, and at least eighteen months of child welfare casework experience.  â¢ Strong command of various child protection databases including Connections, ATS, HHS Connect, and LTS, and deep familiarity with ACS policy and protocol. â¢ No less than 5 years of professional experience working as a child protective specialist in a child protective unit, engaging in child protective case practice including investigating allegations    of child abuse or neglect, assessing child safety and risk, documenting progress notes within mandated timeframes, and reviewing case history and court documents. â¢ Two years of professional experience working as a child protective specialist supervisor in a child protective unit, supervising and training child protective specialists in their work of case   practice investigating allegations of child abuse or neglect.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
The candidate must have a valid Professional Engineerâs license and a valid driversâ license.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1

In [6]:
display(pd.DataFrame({
    "non_nulls": job_nyc1.count(),
    "nulls": job_nyc1.isnull().sum(),
    "total": len(job_nyc1)
}))

                               non_nulls  nulls  total
Job ID                              5069      0   5069
Agency                              5069      0   5069
Posting Type                        5069      0   5069
# Of Positions                      5069      0   5069
Business Title                      5069      0   5069
Civil Service Title                 5069      0   5069
Title Classification                5069      0   5069
Title Code No                       5069      0   5069
Level                               5069      0   5069
Job Category                        5069      0   5069
Full-Time/Part-Time indicator       4990     79   5069
Career Level                        5069      0   5069
Salary Range From                   5069      0   5069
Salary Range To                     5069      0   5069
Salary Frequency                    5069      0   5069
Work Location                       5069      0   5069
Division/Work Unit                  5069      0   5069
Job Description                     5067      2   5069
Minimum Qual Requirements           5020     49   5069
Preferred Skills                    3694   1375   5069
Additional Information              2667   2402   5069
To Apply                            4173    896   5069
Hours/Shift                         1623   3446   5069
Work Location 1                     1858   3211   5069
Recruitment Contact                    0   5069   5069
Residency Requirement               5069      0   5069
Posting Date                        5069      0   5069
Post Until                          1771   3298   5069
Posting Updated                     5069      0   5069
Process Date                        5069      0   5069

In [7]:
display(pd.DataFrame({
    "non_nulls": job_nyc2.count(),
    "nulls": job_nyc2.isnull().sum(),
    "total": len(job_nyc2)
}))

                               non_nulls  nulls  total
Job ID                              6030      0   6030
Agency                              6030      0   6030
Posting Type                        6030      0   6030
# Of Positions                      6030      0   6030
Business Title                      6030      0   6030
Civil Service Title                 6030      0   6030
Title Classification                6030      0   6030
Title Code No                       6030      0   6030
Level                               6030      0   6030
Job Category                        6030      0   6030
Full-Time/Part-Time indicator       6030      0   6030
Career Level                        6030      0   6030
Salary Range From                   6030      0   6030
Salary Range To                     6030      0   6030
Salary Frequency                    6030      0   6030
Work Location                       6030      0   6030
Division/Work Unit                  6030      0   6030
Job Description                     6030      0   6030
Minimum Qual Requirements           5963     67   6030
Preferred Skills                    3331   2699   6030
Additional Information              2288   3742   6030
To Apply                            3012   3018   6030
Hours/Shift                         1176   4854   6030
Work Location 1                     1459   4571   6030
Recruitment Contact                    0   6030   6030
Residency Requirement               6030      0   6030
Posting Date                        6030      0   6030
Post Until                          2183   3847   6030
Posting Updated                     6030      0   6030
Process Date                        6030      0   6030

In [8]:
df_merged = concat_dataframes(job_nyc1,job_nyc2)

In [9]:
df_merged = standardize_column_names(df_merged)

In [10]:
display(df_merged.columns)

Index(['job_id', 'agency', 'posting_type', '#_of_positions', 'business_title',
       'civil_service_title', 'title_classification', 'title_code_no', 'level',
       'job_category', 'full-time/part-time_indicator', 'career_level',
       'salary_range_from', 'salary_range_to', 'salary_frequency',
       'work_location', 'division/work_unit', 'job_description',
       'minimum_qual_requirements', 'preferred_skills',
       'additional_information', 'to_apply', 'hours/shift', 'work_location_1',
       'recruitment_contact', 'residency_requirement', 'posting_date',
       'post_until', 'posting_updated', 'process_date'],
      dtype='object')

In [11]:
df_merged = drop_duplicates(df_merged,'job_id')

In [12]:
columns = ['job_id', 'posting_type', 'civil_service_title', 'title_classification', 
'title_code_no', 'full-time/part-time_indicator', 'work_location', 'division/work_unit',
'job_description', 'minimum_qual_requirements', 'additional_information', 'to_apply', 
'hours/shift', 'work_location_1', 'recruitment_contact', 'residency_requirement', 'posting_updated',
'process_date']

df_merged = drop_irrelevant_columns(df_merged, columns)

In [13]:
display(df_merged.columns)

Index(['agency', '#_of_positions', 'business_title', 'level', 'job_category',
       'career_level', 'salary_range_from', 'salary_range_to',
       'salary_frequency', 'preferred_skills', 'posting_date', 'post_until'],
      dtype='object')

In [14]:
display(df_merged.isnull().sum())

agency                  0
#_of_positions          0
business_title          0
level                   0
job_category            0
career_level            0
salary_range_from       0
salary_range_to         0
salary_frequency        0
preferred_skills     1933
posting_date            0
post_until           3270
dtype: int64

In [15]:
display(pd.DataFrame({
    "non_nulls": df_merged.count(),
    "nulls": df_merged.isnull().sum(),
    "total": len(df_merged)
}))

                   non_nulls  nulls  total
agency                  5271      0   5271
#_of_positions          5271      0   5271
business_title          5271      0   5271
level                   5271      0   5271
job_category            5271      0   5271
career_level            5271      0   5271
salary_range_from       5271      0   5271
salary_range_to         5271      0   5271
salary_frequency        5271      0   5271
preferred_skills        3338   1933   5271
posting_date            5271      0   5271
post_until              2001   3270   5271

In [16]:
cat_cols = list(df_merged.select_dtypes(include=['object']))
cat_cols

['agency',
 'business_title',
 'level',
 'job_category',
 'career_level',
 'salary_frequency',
 'preferred_skills',
 'posting_date',
 'post_until']

In [17]:
# Clean up categorical columns (type = 'object') except dates
cat_cols = ['agency',
 'business_title',
 'level',
 'job_category',
 'career_level',
 'salary_frequency',
 'preferred_skills']
 
df_merged = remove_all_punctuation(df_merged,cat_cols)

In [18]:
df_merged[['preferred_skills','job_category','career_level']]

,preferred_skills,job_category,career_level
0,must have a valid pe license,engineering architecture planning,experienced nonmanager
1,student must currently be enrolled at a colleg...,engineering architecture planning,student
2,NaN,communications intergovernmental affairs techn...,experienced nonmanager
3,a baccalaureate degree from an accredited coll...,engineering architecture planning,experienced nonmanager
4,preference will be given to candidates with at...,engineering architecture planning,manager
...,...,...,...
10906,NaN,administration human resources,experienced nonmanager
10957,NaN,engineering architecture planning public safet...,experienced nonmanager
10961,NaN,communications intergovernmental affairs,manager
11037,NaN,communications intergovernmental affairs,manager
11047,very strong preference given to candidates dem...,constituent services community programs engine...,experienced nonmanager

In [19]:
df_merged[['posting_date', 'post_until']]

      posting_date   post_until
0       06/08/2022          NaN
1       04/02/2024  11-JUN-2024
2       02/27/2024  26-FEB-2025
3       03/05/2024  29-MAY-2024
4       11/06/2023          NaN
...            ...          ...
10906   10/18/2024          NaN
10957   04/25/2025          NaN
10961   05/29/2025          NaN
11037   05/12/2025          NaN
11047   07/27/2024          NaN

[5271 rows x 2 columns]

In [20]:
date_cols = ['posting_date', 'post_until']
df_merged = standardize_dates(df_merged,date_cols)

d:\vscode101\first_project\notebooks\functions.py:51: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

In [21]:
df_merged[['posting_date', 'post_until']]

      posting_date post_until
0       2022-08-06        NaT
1       2024-02-04 2024-06-11
2              NaT 2025-02-26
3       2024-05-03 2024-05-29
4       2023-06-11        NaT
...            ...        ...
10906          NaT        NaT
10957          NaT        NaT
10961          NaT        NaT
11037   2025-12-05        NaT
11047          NaT        NaT

[5271 rows x 2 columns]

In [22]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5271 entries, 0 to 11047
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agency             5271 non-null   object
 1   #_of_positions     5271 non-null   int64
 2   business_title     5271 non-null   object
 3   level              5271 non-null   object
 4   job_category       5271 non-null   object
 5   career_level       5271 non-null   object
 6   salary_range_from  5271 non-null   float64
 7   salary_range_to    5271 non-null   float64
 8   salary_frequency   5271 non-null   object
 9   preferred_skills   3338 non-null   object
 10  posting_date       2045 non-null   datetime64[ns]
 11  post_until         2001 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(7)
memory usage: 535.3+ KB

In [23]:
display(df_merged['business_title'])

0                                        region supervisor
1        2024bws010early warning remote modeling intern...
2                                     intelligence analyst
3                      senior coordinator capital projects
4                                                 director
                               ...
10906                        deputy director of onboarding
10957                             environmental specialist
10961                       deputy communications director
11037                  director for digital communications
11047     greenways project lead office of livable streets
Name: business_title, Length: 5271, dtype: object

In [24]:
regex_pattern = r"\b(data analyst|data engineer|data analyst)\w*\b"
df_data_analyst = filter_by_regex_pattern(df_merged,'business_title', regex_pattern)

d:\vscode101\first_project\notebooks\functions.py:44: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[column].str.contains(regex_pattern, flags=re.IGNORECASE, na=False, regex=True)

In [25]:
df_data_analyst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agency             43 non-null     object
 1   #_of_positions     43 non-null     int64
 2   business_title     43 non-null     object
 3   level              43 non-null     object
 4   job_category       43 non-null     object
 5   career_level       43 non-null     object
 6   salary_range_from  43 non-null     float64
 7   salary_range_to    43 non-null     float64
 8   salary_frequency   43 non-null     object
 9   preferred_skills   20 non-null     object
 10  posting_date       20 non-null     datetime64[ns]
 11  post_until         36 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(7)
memory usage: 4.2+ KB

In [26]:
display(pd.DataFrame({
    "non_nulls": df_data_analyst.count(),
    "nulls": df_data_analyst.isnull().sum(),
    "total": len(df_data_analyst)
}))

                   non_nulls  nulls  total
agency                    43      0     43
#_of_positions            43      0     43
business_title            43      0     43
level                     43      0     43
job_category              43      0     43
career_level              43      0     43
salary_range_from         43      0     43
salary_range_to           43      0     43
salary_frequency          43      0     43
preferred_skills          20     23     43
posting_date              20     23     43
post_until                36      7     43

In [27]:
regex_pattern = r"(sql|tableau|bi|phyton|eda|llm|ai|ml|pandas|numpy|agile)"
df_keywords = filter_by_regex_pattern(df_merged,'preferred_skills', regex_pattern)

d:\vscode101\first_project\notebooks\functions.py:44: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = df[column].str.contains(regex_pattern, flags=re.IGNORECASE, na=False, regex=True)

In [28]:
df_keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2648 entries, 0 to 2647
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agency             2648 non-null   object
 1   #_of_positions     2648 non-null   int64
 2   business_title     2648 non-null   object
 3   level              2648 non-null   object
 4   job_category       2648 non-null   object
 5   career_level       2648 non-null   object
 6   salary_range_from  2648 non-null   float64
 7   salary_range_to    2648 non-null   float64
 8   salary_frequency   2648 non-null   object
 9   preferred_skills   2648 non-null   object
 10  posting_date       1025 non-null   datetime64[ns]
 11  post_until         813 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(7)
memory usage: 248.4+ KB

In [29]:
display(pd.DataFrame({
    "non_nulls": df_keywords.count(),
    "nulls": df_keywords.isnull().sum(),
    "total": len(df_keywords)
}))

                   non_nulls  nulls  total
agency                  2648      0   2648
#_of_positions          2648      0   2648
business_title          2648      0   2648
level                   2648      0   2648
job_category            2648      0   2648
career_level            2648      0   2648
salary_range_from       2648      0   2648
salary_range_to         2648      0   2648
salary_frequency        2648      0   2648
preferred_skills        2648      0   2648
posting_date            1025   1623   2648
post_until               813   1835   2648

In [30]:
df_merged.to_csv(config['output_data']['file1'], index=False, sep=",", encoding="utf-8")
df_data_analyst.to_csv(config['output_data']['file2'], index=False, sep=",", encoding="utf-8")
df_keywords.to_csv(config['output_data']['file3'], index=False, sep=",", encoding="utf-8")